header{
    background-color: #4ea0ff;
    min-height: 100px;
    background-image: url("img/pattern.png");
    background-size: 20%;
}

#logo{
    width: 250px;
    position: relative;
    top: 30px;
}

h1{
    font-size: 50px;
}

h2{
    font-size: 20px;
    font-weight: 500;
    color: gray
}

a:link{
    color: #4ea0ff;
    text-decoration: none;
}

a:visited {
    color:blue;
  }

a:hover {
    color:cadetblue;
    text-decoration: underline;
  }

  #author{
    font-size: 20px;
    font-weight: 500;
    color: gray;
    line-height: 1px;
  }

  #date{
      font-size: 14px;
      color:gray;
      line-height: 1px;

  }

  #legenda{
    font-size: 12px;
  }

  #rilievo-testo{
      background: yellow;

  }

  p{
      font-size: 16px;
  }